<p>Branch Name: <%= @dojo.branch%></p>
<p>Street: <%= @dojo.street%></p>
<p>City: <%= @dojo.city%></p>
<p>State: <%= @dojo.branch%></p>
<a href="/">Go Back</a> | <a href="/dojos/edit/<%=@dojo.id%>">Edit</a>
