<h1>Dojo Secrets &#x1F612</h1>

<% @secrets.each do |secret| %>
<p><%= secret.secret %> <% if secret.user == current_user%> | <a href="/secrets/<%=secret.id%>" data-method="delete"> DELETE</a><% end %> <% if current_user.secrets_liked.exists?(secret.id)%> <a href="/secrets/<%= secret.id %>/like" data-method="delete">UNLIKE</a><% else %> <a href="/secrets/<%= secret.id %>/like" data-method="post">LIKE</a><% end %></p>
<p><%= secret.likes.count%> likes!</p>
<% end %>
