<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-m1tb{font-weight:bold;background-color:#000000;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-yf2n{font-weight:bold;background-color:#333333;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>

<h1><%= @event.name %></h1>

<p>Host: <%= @event.user.first_name %> <%= @event.user.last_name %></p>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %>, <%= @event.state%></p>
<p>Other people who are going to this event: <%= @event.users_attending.count - 1%></p>
<table class="tg">
  <tr>
    <th class="tg-m1tb">Name</th>
    <th class="tg-m1tb">Location</th>
    <th class="tg-m1tb">State</th>
  </tr>
  <% @event.users_attending.each do |user|%>
  <% if @event.user != user %>
  <tr>
    <td class="tg-yw4l"><%= user.first_name %> <%= user.last_name %></td>
    <td class="tg-yw4l"><%= user.location %></td>
    <td class="tg-yw4l"><%= user.state %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<h2>Discussion About This Event:</h2>
<div style="overflow-y:scroll; height:200px">
    <% if @comments %>
    <% @comments.each do |comment|%>
    <p><%= comment.user.first_name%> says <%= comment.content %></p>
    <% end %>
    <% end %>
</div>
<form action="/events/<%= @event.id %>/comment/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Add Comment:</p>
    <textarea name="content" rows="8" cols="80"></textarea>
    <p><input type="submit" value="Add Comment"></p>
</form>
